<div class="btn-group" role="group">
	{foreach $items as $item}
		<a href="{$item->getUrl($row)}" 
		   {if $item->getConfirm()}data-confirm="{$item->getConfirm()}"{/if} 
		   class="btn btn-default {if $item->isAjax()}ajax{/if}" 
		   {implode(' ', $item->getAttributes())|noescape}
		   title="{$item->getName()}"
		>
			{if $item->getIco()}
				<i class="{$item->getIco()}"></i>
			{/if}
			{if $showName}
				{$item->getName()}
			{/if}
		</a>
	{/foreach}
</div>			
