<div class="btn-group">
	<button data-toggle="dropdown" class="btn btn-success {$buttonSize}" type="button">Action</button>
	<button data-toggle="dropdown" class="btn btn-success dropdown-toggle {$buttonSize}" type="button">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
	</button>
	<ul role="menu" class="dropdown-menu dropdown-menu-right">
		{foreach $items as $item}
			{if $item->getDividerClass()}
				<li class="{$item->getDividerClass()}"></li>
			{/if}
			<li>
				<a href="{$item->getUrl($row)}"
				   {if $item->getConfirm()}data-confirm="{$item->getConfirm()}"{/if} 
				   {if $item->isAjax()} class="ajax"{/if}
				   {implode(" ", $item->getAttributes())|noescape}
				>
					{if $item->getIco()}
						<i class="{$item->getIco()}"></i>
					{/if}
					{$item->getName()}
				</a>
			</li>
		{/foreach}
	</ul>
</div>
