{* import CSS pro orderBy *}
<style type="text/css"> 
	@import url("/assets/backend/css/datatables/dataTables.bootstrap.css");
</style>

<div class="box">
	{if !$withoutHeader}
	<div class="box-header">
		<h3 class="box-title">{$title}</h3>
		<div class="box-tools" n:if="!empty($searchTarget)">
			<div class="input-group">
				<form action="{$searchTarget->link}" {if $searchTarget->isAjax} class="ajax" method="post"{/if}>
					{foreach $searchTarget->param as $name => $item}
						{continueIf $name == $searchTarget->controlPath . "-search"}
						
						<input type="hidden" name="{$name}" value="{$item}">
					{/foreach}

					<input type="text" placeholder="Search" 
						   style="width: 150px;" 
						   class="form-control input-sm pull-right" 
						   name="{if $searchTarget}{$searchTarget->controlPath}-search{else}table_search{/if}"
						   value="{$searchTarget->param[$searchTarget->controlPath . '-search']}"
						   >
					<div class="input-group-btn">
						<button class="btn btn-sm btn-default" {if $searchTarget}type="submit"{/if}><i class="fa fa-search"></i></button>
					</div>
				</form>
			</div>
		</div>
	</div><!-- /.box-header -->
	{/if}
	
	<div class="box-body no-padding">
		<table class="table table-hover {if $sortableTarget}sortable{/if} dataTable" {if $sortableTarget}data-target="{$sortableTarget}"{/if}>
			<thead {if $withoutHeader}class="hidden-thead"{/if}>
				<tr>
					{foreach $container->getControls() as $item}						
						{if $sortingRules && $sortingRules->hasOrderBy($item->getName())}
							
							<th {if $item->getWidth()}width="{$item->getWidth()}"{/if} 
									class="sorting{if $sortingRules->hasOrder($item->getName())}_{$sortingRules->hasOrder($item->getName())}{/if}" 
									role="columnheader"
									data-target="{$presenter->link(this, $sortingRules->getLinkParam($item->getName()))}"
									>
								<a href="{$sortingRules->getLink($item->getName())->getUrl(TRUE)}" {if $sortingRules->getLink($item->getName())->isAjax()}class="ajax"{/if}>
									<div>{$item->getName()}</div>
								</a>
							</th>
						{else}
							<th {if $item->getWidth()}width="{$item->getWidth()}"{/if}>
								{$item->getName()} 
							</th>
						{/if}
						
					{/foreach}
				</tr>
			</thead>
			<tbody>
				{foreach $data as $row}
					<tr id="{$rowName}-{$row->id}">
						{foreach $container->getControls() as $item}
							<td>{$item->getColumn($row)}</td>
						{/foreach}
					</tr>
				{/foreach}
			</tbody>
			{if isset($paginator)}
				{*
				<tfoot>
					<tr>
						<th colspan="{=count($columns) + $template->hasActionsColumn}">
							{include #pagination}
						</th>
					</tr>
				</tfoot>
				*}
			{/if}
		</table>
	</div><!-- /.box-body -->
</div>
